src/k8/sercrets.yaml
*appsettings*
bin/
obj/
.vs/
.vscode/
.idea/
*.cab
*.msi
*.msm
*.msp
*.log
.vscode/
.idea/
.net/
*.tmp
*.bak
.idea/
packages/
.nuget/
obj/
.vscode/
.idea/
.DS_Store
Thumbs.db
.git/
node_modules/
*.bak
*.swp
